<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8c1a1f91-f5bb-4848-abca-55344b3627dc" name="Copy of 会员登录22" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d74b5a11-28b0-4e79-818b-bbc4b4bfdd24fileName">会员登录</con:setting><con:setting id="8c1a1f91-f5bb-4848-abca-55344b3627dcfileName">Copy-of-会员登录22</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>