<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="55cdbb88-7cd7-41e9-a06f-f68c3301e01b" name="提货管理" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="55cdbb88-7cd7-41e9-a06f-f68c3301e01bfileName">提货管理</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>